.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:999999;}
 
/*方块跳*/
.loader-bouncer{
	width: 10%;
	height: 20%;
	margin-top: 50%;
	/*margin: 0 auto;*/
	left: 46%;
	top: -50%;
	position: relative;
	z-index: 2000;
}
.bouncer {
  width: 30px;
  height: 10px;
	border-radius: 3px;
  position: absolute;
  background: white;
  left: 30%;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  z-index: 2000;
}
.line {
    width: 100%;
    height: 20%;
		top: 60%;
		right: 10%;
		position: absolute;
		z-index: 5000;
    border: 1px solid #fff;
    border-radius: 0 0 50% 50%/0 0 100% 100% ;
    border-top: none;
		-webkit-animation-name: line;
		animation-name: line;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease;
		animation-timing-function: ease;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
    bottom: 0%;
    height: 20px;
  }
  4% {
    height: 5px;
  }
  5% {
    height: 30px;
    bottom: 0%;
    -webkit-animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
    animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
  }
  20% {
    height: 20px;
    bottom: 50%;
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
  }
  45% {
    height: 20px;
    bottom: 20%;
  }
  49% {
    height: 5px;
  }
  50% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
    /* height: $h + 60; */
    bottom: 20%;
    -webkit-animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
    animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
  }
  75% {
    height: 24px;
    bottom: 100%;
		border-radius: 12px;
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    height: 30px;
    bottom: 0%;
		border-radius: 15px;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
    bottom: 0%;
    height: 20px;
  }
  4% {
    height: 5px;
  }
  5% {
    height: 30px;
    bottom: 0%;
    -webkit-animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
    animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
  }
  20% {
    height: 20px;
    bottom: 60%;
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
  }
  45% {
    height: 20px;
    bottom: 40%;
  }
  49% {
    height: 5px;
  }
  50% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
    /* height: $h + 60; */
    bottom: 40%;
    -webkit-animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
    animation-timing-function: cubic-bezier(0, 0.62, 0.42, 1);
  }
  75% {
    height: 24px;
    bottom: 100%;
		border-radius: 12px;
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.98, 0.47);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    height: 30px;
    bottom: 0%;
		border-radius: 15px;
  }
}
/* 线条 */
@-webkit-keyframes line {
  0% {
    height: 20%;
  }
  5% {
    height: 0%;
  }
  20% {
    height: 0%;
  }
  49% {
    height: 0%;
  }
  75% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}
@keyframes line {
  0% {
    height: 40%;
  }
  5% {
    height: 40%;
  }
  16% {
    height: 0%;
  }
  20% {
    height: 0%;
  }
  49% {
    height: 0%;
  }
  75% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}         

/*圈旋转*/
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    /* COLOR 1 */
    border-top-color: #FFF;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    -ms-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    -moz-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */ 
    -o-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */   
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index:1001;}
#loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        /* COLOR 2 */       
        border-top-color: #FFF;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        -moz-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        -o-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        -ms-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */              
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */}
#loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #FFF;
        /* COLOR 3 */       
        -moz-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        -o-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        -ms-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */        
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */}


@-webkit-keyframes spin {
        0%{ 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }100%{
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */}
}

@keyframes spin {
        0%{ 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }100%{
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */}
}

/*背景*/
#loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #1E9FFF; /* Old browsers */
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}
#loader-wrapper .loader-section.section-left {left: 0;}
#loader-wrapper .loader-section.section-right {right: 0;}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded .loader-bouncer {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;}
.loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;}
.loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;}
/* JavaScript Turned Off */
.no-js #loader-wrapper {display: none;}
.no-js h1 {color: #222222;}
#loader-wrapper .load_title {
    font-family:'Open Sans';
    color:#FFF; font-size:19px; width:100%; text-align:center; z-index:9999999999999; position:absolute; top:90%; opacity:1; line-height:30px; }
#loader-wrapper .load_title span {  font-weight:normal; font-style:italic; font-size:13px; color:#FFF; opacity:0.5;}
.circle-left{
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	top: 59.2%;
	left: -12%;
}
.circle-right{
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	top: 59.2%;
	right: 8.8%;
}