			/*天气*/
html {
	background-color: #f2f2f2; 
	color: #666;
}
.layui-row{
	margin-bottom: 20px;
}
.tianqi{
	width: 300px;
	margin: 0 auto;
	padding: 20px;
}
.tianqi-bg{
	height: 23px;
	position: relative;
	width: 200px;
}
.tianqi-bg i{
	position: absolute;
	left: 176px;
	top: 7px!important;
	z-index: 10;
	cursor: pointer;
}
#btn{
	width: 50px;
	position: absolute;
	left: 202px;
	top: 1px;
	z-index: 12;
}
#tianqi{
	margin:  0!important;
	/*border: none;*/
}
.tq-add,.tq-air,.tq-temp,.tq-tips{
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.tq-weather{
	text-align: center;
}
#mountNode{
	width: 100%;
	height: 500px;
	margin: 0 auto;
}
.tq-tbody td{
	text-align: center;
}
.tq-table{
	margin-top: 50px!important;
}