*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.bg{
	position:relative;
	z-index: 999;
}
#top{
	width: 1920px;
	margin: 30px auto 0;
}
.chart{
	margin: 0 auto;
	width: 1920px;
}
.center{
	margin-top: 20px;
	height: 551px;
}
.left1{
	margin-left: 60px;
	width: 466px;
	height: 551px;
	background-image: url(../img/left1.png);
	float: left;
}
#left1{
	margin: 30px 0 0 30px;
	width: 400px;
	height: 200px;
}
#left01{
	margin-left: 30px;
	width: 400px;
	height: 300px;
}
.map{
	float: left;
	width: 868px;
	height: 551px;
}
#main{
	width: 868px;
	height: 551px;
}
.right1{
	float: left;
	width: 466px;
	height: 551px;
	background-image: url(../img/left1.png);
}
#right1{
	margin: 30px 0 0 30px;
	width: 400px;
	height: 270px;
}
.bottom{
	margin-top: 40px;
	height: 313px;
}
.left2{
	margin-left: 60px;
	width: 466px;
	height: 313px;
	background-image: url(../img/left2.png);
	float: left;
}
#left2{
	margin: 30px 0 0 30px;
	width: 400px;
	height: 270px;
}
.center1{
	float: left;
	margin-left: 40px;
	width: 788px;
	height: 313px;
	background-image: url(../img/center.png);
}
#center1{
	margin: 30px 0 0 30px;
	height: 270px;
}
.right2{
	float: left;
	margin-left: 40px;
	width: 466px;
	height: 313px;
	background-image: url(../img/left2.png);
}
#right2{
	margin-left: 30px;
	height: 270px;
}
.title{
	margin: 30px 0 0 30px;
	position: relative;
	width: 120px;
	cursor: pointer;
}
.a{
	display: inline;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
.b{
	height: 10px;
	background-color: #0069cc;
	position: absolute;
	z-index: -1;
	left: 14px;
	top: 10px;
	border-radius:4px ;
}
.tab1{
	width: 100%;
	margin: 30px 0 0 30px;	
}
.tab1 td{
	width: 30%;
	height: 30px;
	font-size: 12px;
	/*text-align: center;*/
	color:#FFFFFF ;
}
.tab1 .tab1_tr1{
	color: #0f64a8;
	font-weight:bold ;
	font-size: 30px;
}
.tab1 .tab1_tr2{
	color: #e53732;
	font-weight:bold ;
	font-size: 30px;
}
.tab1 .tab1_tr3{
	color: #f0c225;
	font-size: 24px;
}
.tab2{
	width: 100%;
	margin-top: 30px;
}
.tab2 td{
	width: 30%;
	height: 30px;
	font-size: 12px;
	text-align: center;
	color:#FFFFFF ;
	/*border-bottom: 1px dashed #333;*/
}
.tab2 img{
	margin-left: 6px;
}
.tab2 .tab2_td2{
	color:#ff5236;
}
.tab2 .tab2_td3{
	color:#abd825;
}
