body{
	background: #e9ecef;
}
ul{
	list-style: none;
}
.center{
	width: 60%;
	margin: 30px auto;
}
.center li{
	text-align: center;
	font-size: 1.875rem;
	font-weight: 600;
	height: 500px!important;
}
#next-btn{
	width: 200px;
	height: 38px;
	background:-webkit-linear-gradient(
	left,#0096ff,#00d8ff
	);
	color: #fff;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	display: block;
	margin: 50px auto;
}
#next-btn:hover{
	background-color: #4cb2ff;
}
.foote{
	margin: 0 auto;
}
.foote-link{
	display: block;
	text-align: center;
}
a{
	text-decoration: none;
	color: #898989;
	font-size: 0.875rem;
	margin-left: 20px;
	cursor: pointer;
}
a:hover{
	color: #333;
}
.floor{
	width: 60px;
	height: 6px;
	margin: 5px auto 0 auto;
	border-radius: 3px;
	background: -webkit-linear-gradient(
	left,#ff624c,#ff996f
	);
}