*,
*::after,
*::before {
	box-sizing: border-box;
}
@font-face {
  font-family: 'iconfont';  /* project id 1149735 */
  src: url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.eot');
  src: url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.woff') format('woff'),
  url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1149735_ol018kqqg4b.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
html {
	font-size: .625em;
	font-size: calc(1em * .625);
	/*background: #E4E0E0;*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	background: var(--body-bg-color);
	font: normal 300 1.4em / 1.2 'Open-sans', helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

ol,
ul {
	margin: 0;
}

img {
	max-width: 100%;
}

b,
strong {
	font-weight: 600;
}

hr {
	background: #111;
	box-shadow: none;
	border: none;
	height: 1px;
	width: 100%;
	margin: 10px 0;
}

h1 {
	color: #fff;
}
h4{
	margin-left: 1.2rem;
}
h6{
	padding-left: 2rem;
	margin: 0;
}
 :root {
	--body-bg-color: #f6f6f6;
	--text-color: #333;
	--tab-text-color:#ff760d;
	--card-bg-color:#fff;
	--svg-color:#000;
	--heading-bg-color:linear-gradient(135deg, #ff372d, #ff760d);
}

 :root[theme='dark'] {
	--body-bg-color: #000;
	--text-color: #d6d6d6;
	--tab-text-color:#01ff8d;
	--card-bg-color:#2d2d2d;
	--svg-color:#fff;
	--heading-bg-color:linear-gradient(135deg, #01ff8d, #00fff0);
}

.head {
	display: flex;
	justify-content: center;
	height: 400px;
}

body svg {
	position: relative;
	z-index: 5;
	width: 350px;
	height: 350px;
}

body svg path {
	transition: opacity 650ms ease;
	transition-delay: 100ms;
}

svg .top {
	opacity: 1;
	z-index: 2;
}

svg .top.left {
	fill: url(#orange);
}

svg .top.right {
	fill: url(#purple);
}

svg .bottom {
	opacity: 0;
	z-index: 1;
}

svg .bottom.left {
	fill: url(#pink);
}

svg .bottom.right {
	fill: url(#bajablast);
}

#theme-btn::after {
	position: absolute;
	cursor: pointer;
	top: 8px;
	left: 8px;
	z-index: 10;
	padding: 8px 12px;
	background: rgba(29, 29, 29, 0.75);
	border-radius: 30px;
	content: "夜 间 模 式";
	font-size: 13px;
	font-family: 'Hind';
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	transition: color 650ms ease, background 650ms ease;
	transition-delay: 100ms;
	color: #fff;
	opacity: 0.7;
}

svg.svg-dark .top {
	opacity: 0;
}

svg.svg-dark .bottom {
	opacity: 1;
}

#theme-btn.dark::after {
	font-family: 'Hind';
	content: "日 间 模 式";
	color: #1d1d1d;
	background: rgba(246, 246, 246, 0.7);
}

.content {
	position: absolute;
	top: 80px;
	z-index: 10;
}

.content h2 {
	font-size: 80px;
	text-align: center;
	color: var(--svg-color);
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#bg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

 ::selection {
	background: var(--main-bg-color);
	color: #fff;
}

 ::-moz-selection {
	background: var(--main-bg-color);
	color: #fff;
}

.container {
	width: 100%;
	max-width: 1070px;
	margin: 0 auto;
	padding: 0 10px;
}

.heading{
	width: 100%;
	margin-left: 1rem;
	font-weight: 900;
	font-size: 1.618rem;
	text-transform: uppercase;
	letter-spacing: .1ch;
	line-height: 1;
	padding-bottom: .5em;
	margin-bottom: 1rem;
	position: relative;
	color: var(--text-color);
}

.heading:after {
	display: block;
	content: '';
	position: absolute;
	width: 60px;
	height: 3px;
	background: var(--heading-bg-color);
	bottom: 0;
}
.heading-basic li{
	color: var(--text-color);
	margin: 10px;
}
.heading-title {
	color: var(--text-color);
	width: 100%;
	margin-top: 0;
	margin-left: 1rem;
}

.wrapper {
	padding: 40px 0;
}

.card {
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease 0s;
}
.card:hover {
	background: var(--card-bg-color);
	transform .15s ease-in-out,
	box-shadow .15s ease-in-out;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	/*box-shadow: 0 1px 3px rgba(0,0,0,.02),0 16px 32px -4px rgba(0,0,0,.17);*/
	/*box-shadow: 0 6px 10px -1px rgba(0,0,0,.2), 0 0px 3px 0 rgba(0,0,0,.14), 0 0px 3px 0 rgba(0,0,0,.12);*/
	transform: translateY(-2px);
}

.card__picture {
	display: block;
	width: 100%;
	padding: 6px;
	border-radius: 10px;
	height: auto;
	filter: grayscale(.1);
}

.card__picture:hover {
	filter: grayscale(0);
}

.card-infos {
	padding: 0 10px 10px 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: var(--text-color);
}

.card__title {
	font-family: 'Hind';
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.4;
	margin: 0 0 10px;
}

.card__text {
	font-size: 1.4rem;
	font-weight: 300;
	border-top: 1px dashed #d4d4d4;
	padding-top: 10px;
	margin: 0;
	/*color: #444;*/
}

.card__text--high {
	font-weight: 600;
}

.header {
	background: var(--main-bg-color);
	height: 160px;
	display: flex;
}

.header__title {
	margin: auto;
	font-weight: 300;
	font-size: 3.2rem;
	color: #fff;
}

.header__title--high {
	font-weight: 600;
}

.sortable__nav {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav__link {
	padding: 0 20px 4px;
	color: var(--text-color);
	font-size: 1.4rem;
	font-weight: 300;
	display: block;
	border-bottom: 2px solid transparent;
}
.nav__link:hover{
	color: var(--tab-text-color);
}
.nav__link.is-active {
	color: var(--tab-text-color);
	border-color: var(--tab-text-color);
}

.footer__list.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list__item.item {
	display: flex;
}

.item__link.link {
	margin: 0;
}

.item__link.link:not(:first-child) {
	margin-left: 20px;
}

.link__icon {
	height: 2rem;
	width: 2rem;
}
.link-color:hover{
	color: var(--tab-text-color);
}

/*workDetail*/

.workDetail {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 50px auto;
}

.detailImg {
	border-radius: 10px;
	width: 80%;
	height: 100%;
}
/*返回顶部*/
.t-right-bar {
    position: fixed;
    right: 0;
    bottom: 10%;
    width: 48px;
    height: 48px;
    z-index: 1000;
    cursor: pointer;
}

.t-right-bar > div {
    float: left;
    height: 36px;
    margin-bottom: 1px;
    border-radius: 20px 0 0 20px;
    color: #fff;
    padding-left: 100%;
    clear: both;
    white-space: nowrap;
    font-size: 13px;
    line-height: 36px;
    font-style: normal;
    background-color: rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-position: 12px center;
    transition: transform .2s cubic-bezier(.215, .61, .355, 1), padding .2s cubic-bezier(.215, .61, .355, 1), margin .2s cubic-bezier(.215, .61, .355, 1), background-color .2s cubic-bezier(.215, .61, .355, 1)
}

 .t-right-bar > div.active, .t-right-bar > div:hover {
    transform: translateX(-100%);
    padding-left: 45px;
    padding-right: 10px;
    margin-left: 48px;
    background-color: rgba(30,159,255,0.5);
    text-decoration: none;
    color: #fff
}
.t-right-bar .t-bar-rocket {
    background-image: url(../Individual/img/rocket_1.svg);  //按钮图标
    background-position: 19px center;
}
